body {
    font-family:'Segoe UI', Verdana, Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 100%;
    margin: 0;
    color: #000;
    background:#fff;
    text-align:center;
}

.b-page {
    max-width: 600px;
    text-align: center;
    margin:0 auto;
}

.b-page-header {
    border-bottom: 1px dashed #e8e8e8;
    margin-bottom:15px;
}

.i-page-header {
    font-size: 40px;
    line-height: 15px;
    
    font-weight:200;
}

.b-form-table-lable {
    text-align: right;
    width:180px;
    vertical-align:top;
}

.b-form-table-input {
    width: 400px;
    text-align:left;
    vertical-align:top;
}

.i-form-input {
    width: 260px;
}

.i-form-email {
    display: none !important;
}

.i-page-error {
    color: red;
    font-size:20px;
}

.i-form-error {
    color: red;
}
