@{
    Page.Title = "Настройки";
    var UserName = WebSecurity.CurrentUserName;

    var db = Database.Open("Datebase");

    var data = db.QuerySingle("SELECT * FROM Account WHERE UserName = @0", UserName);
    //var sqlreqests = new string[3] {"SELECT ", "2"};
    var IsValid = true;
    var errorm = "";

    if(IsPost){
        AntiForgery.Validate();
        var Name = Request["Name"];
        
        var Email = Request["Email"];

        var Password = Request["Password"];
        if(Password.IsEmpty()){
            IsValid = false;
        }

        if(IsValid){
            try{
                db.Execute("UPDATE Account SET Name=@0, Email=@1, Password=@2 WHERE UserName=@3", Name, Email, Password, UserName);
                Response.Redirect("UserSettings");
            } catch(Exception ex){
                errorm = ex.Message.ToString();
            }
        }
    }
    var lastVisit = Request.Cookies["lastVisit"].Value;
}
@section Head{
    <style>
        .b-tabs {
            padding: 20px 0 10px 0;
            width: 100%;
            border-bottom: 1px solid;
        }
        .b-tabs-list {
            list-style: none;
            display: inline;
        }
        .b-tabs-list-item {
            display: inherit;
            border-left: 1px solid;
            border-top: 1px solid;
            border-right: 1px solid;
            margin: 0 5px 0 0;
            padding: 6px 7px 10px 6px;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        .i-tabs-link-item-link {
            
        }
        .active a {
            border-bottom: 0 none;
            color:black;
        }
    </style>
}

@errorm

<div class="b-tabs">
    <ul class="b-tabs-list">
        <li class="b-tabs-list-item">
            <a class="i-tabs-link-item-link" href="Settings">Сайт</a>
        </li>
        <li class="b-tabs-list-item active">
            <a class="i-tabs-link-item-link" href="UserSettings">Аккаунт</a>
        </li>
    </ul>
</div>

<form action="" method="post">
    @AntiForgery.GetHtml()
    <table>
        <tbody>
            <tr>
                <td class="table-label">
                    <label for="Name">Ваше имя:</label>
                </td>
                <td>
                    <input id="Name" class="input" type="text" name="Name" value="@data.Name"/>
                </td>
            </tr>
        <tr>
                <td class="table-label">
                    <label for="Email">Адрес электронной почты:</label>
                </td>
                <td>
                    <input id="Email" class="input" type="email" name="Email" value="@data.Email"/>
                </td>
            </tr>
        <tr>
                <td class="table-label">
                    <label for="Password">Новый пароль:</label>
                </td>
                <td>
                    <input id="Password" class="input" type="password" name="Password" value=""/>
                </td>
            </tr>
 <tr>
                <td class="table-label">
                    <input type="submit" class="btn" value="Сохранить"/>
                </td>
                
            </tr>
        </tbody>
    </table>
</form>

Последнее посещение @lastVisit


<script type="text/javascript">
$("#Password").passField({
    acceptRate: 1
});
</script>