body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    background: #f3f4f5 url(/components/ui/images/adminNavBackground.gif) repeat-y top left;
}
h1, h2, h3, h4, h5, h6{
    font-style: normal;
    font-weight: normal;
}

a{
    text-decoration: none;
    border-bottom: 1px solid;
    color: #0000ff;
}
a:link{color:#0000ff;}
a:hover{color:#f00;}
a:focus{outline:none;}



.b-page{
    background: #f3f4f5 url(/components/ui/images/adminNavBackground.gif) repeat-y top left;
    min-height: 100%;
}

.b-header{
    height: 50px;
    margin: 16px 0 0 0;
}

.b-header-name{
    
}

.i-header-name-text{
    padding: 14px 0 0 260px;
    text-shadow: rgba(0,0,0,.1) 0px 0px 1px;
}

.b-header-logo{
    background: #323232;
    width: 240px;
    height: 50px;
    float: left;
}

.b-header-logo-app{
    float: left;
    font-size: 2.4em;
    padding: .4em 0;
}

    .i-header-logo-app-link{
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHdpZHRoPSI0NiIgaGVpZ2h0PSI2NyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiA8IS0tIENyZWF0ZWQgd2l0aCBTVkctZWRpdCAtIGh0dHA6Ly9zdmctZWRpdC5nb29nbGVjb2RlLmNvbS8gLS0+CiA8Zz4KICA8dGl0bGU+TGF5ZXIgMTwvdGl0bGU+CiAgPGcvPgogIDx0ZXh0IHRyYW5zZm9ybT0ibWF0cml4KDEsMCwwLDEuMDQ1ODU3MzE1Nzk2MzU0MiwwLC00LjExMDE3NDUwMDk3NDE4NTUpICIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgdGV4dC1hbmNob3I9Im1pZGRsZSIgZm9udC1mYW1pbHk9IlNhbnMtc2VyaWYiIGZvbnQtc2l6ZT0iNTUiIHN0cm9rZS13aWR0aD0iMCIgc3Ryb2tlPSIjMDAwMDAwIiBmaWxsPSIjZmZmZmZmIiBpZD0ic3ZnXzEiIHk9IjUwLjE5NDY4IiB4PSIyMiI+JiMxNjk7PC90ZXh0PgogPC9nPgo8L3N2Zz4=) no-repeat; 
        display: block;
        height: 60px;
        margin: -17px 0 0 14px;
        text-indent: -9999px;
        width: 60px;
    }

.b-header-logo-site{
    font-size: 1.385em;
}

    .i-header-logo-site-link{
        color: #fff;
        float: left;
        line-height: 50px;
        position: relative;
        text-shadow: rgba(0,0,0,.9) 0px 0px 2px;
        text-decoration: none;
    }

.b-header-user{
    display: block;
    float: right;
    margin: 14px 20px 0 0;
    white-space: nowrap;
}


.b-content{
    float: right;
    margin-left: -240px;
    width: 100%;
    padding: 0 0 70px 0;
    min-width: 400px;
}

.b-main{
    margin-left: 260px;
    margin-right: 20px;
}

.b-nav{
    background: #323232;
    display: inline;
    float: left;
    position: relative;
    width: 240px;
}

.b-nav-menu{
    list-style: none;
    font-size: 85%;
}

.b-nav-menu-item{
    margin: 8px 0;
}

.i-nav-menu-link, .i-nav-menu-link:link, .i-nav-menu-link:visited{
    line-height: 16px;
    color: #aec3ce;
    border-bottom: 0 none;
    padding: 0 0 0 20px;
}

.i-nav-menu-link:hover{
    color: #fff;
}

.selected{
    color: #fff !important;
}

.b-bottom{
    clear: both;
    height: 78px;    
    margin: -70px 0 0 0;
    width: 100%;
    background: url(/Components/ui/images/wf-f-logo.png) no-repeat bottom left;
}

.b-bottom-copy{
    position: relative;
    float: right;
    top: 36px;
    right: 16px;
}



.input {    
    border: 1px solid #a6a6a6;
    height: 17px;   
    padding: 3px; 
    width: 190px;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    -ms-transition: border 0.5s;
    transition: border 0.5s;
}

.input:focus{
    border: 1px solid #ff0000;
        -moz-transition: border 0.5s;
        -webkit-transition: border 0.5s;
    -o-transition: border 0.5s;
    -ms-transition: border 0.5s;
    transition: border 0.5s;
    outline: none;
}









.input {    
    border: 1px solid #a6a6a6;
    height: 17px;   
    padding: 3px; 
    width: 190px;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    -ms-transition: border 0.5s;
    transition: border 0.5s;
}

.input:focus{
    border: 1px solid #ff0000;
        -moz-transition: border 0.5s;
        -webkit-transition: border 0.5s;
    -o-transition: border 0.5s;
    -ms-transition: border 0.5s;
    transition: border 0.5s;
    outline: none;
}

.textarea-set{
    width: 280px;
    height: 90px;
    border: 1px solid #a6a6a6;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    -ms-transition: border 0.5s;
    transition: border 0.5s;
}

.textarea-set:focus{
    border: 1px solid #ff0000;
    -moz-transition: border 0.5s;
    -webkit-transition: border 0.5s;
    -o-transition: border 0.5s;
    -ms-transition: border 0.5s;
    transition: border 0.5s;
    outline: none;
}

.table-label, .b-table-label{
    width: 180px;
    text-align: right;
    vertical-align: text-top;
    font-size: 1.1em;
}

.form-input{
    margin-left: 10px;
    border-radius: 1px;
    
}

.form-input-link{
    margin-left: 10px;
}

input.url{
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    border-style: dashed;
}
input.url:focus{
        border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    border-style: dashed;
}

.btn{
    width: 80px;
    height: 30px;
    margin: 10px 0 0 0;
    color: #000;
    background: #fff;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
}


.t-link{
    color: #808080;
}

.form-error{
    color: #f00;
}

.i-text-tiny{
    color: #ff0000;
    opacity: 0.2;
    transition: opacity 1s;
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        -o-transition: opacity 1s;
        -ms-transition: opacity 1s;
}
.i-text-tiny:hover{
    -webkit-transition: opacity 0.3s;
   -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 1;
}

.svg-blogo, #layer1{
    color: #fff;
}

.add-onedit{
    opacity: 0.2;
        
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    -ms-transition: opacity 1s;
    transition: opacity 1s;
}
.add-onedit:hover{
    opacity: 1;
     -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
