@{
    var IsValid = true;
    var usernamevalid = true;
    var passwordvalid = true;
    var forgeyvalid = true;
    var errorm = "";



    if(IsPost){
        AntiForgery.Validate();
        var username = Request["user"];
        if(username.IsEmpty()){
            usernamevalid = false;
            IsValid = false;
        }

        var password = Request["password"];
        if(password.IsEmpty()){
            passwordvalid = false;
            IsValid = false;
        }

        var forgeyinput = Request["name"];
        if(!forgeyinput.IsEmpty()){
            forgeyvalid = false;
            IsValid = false;
        }

        if(IsValid){
            var db = Database.Open("Datebase");

            try{
                var data = db.QuerySingle("Select * from Account where UserName=@0 and Password=@1", username, password);
                if (data!=null)
                {
                    FormsAuthentication.RedirectFromLoginPage(username, false);
                    /*var ReturnUrl = Request["ReturnUrl"];
                    if(ReturnUrl.IsEmpty()){
                        ReturnUrl = "/Components/Control/Default";
                    }
                    Response.Redirect(ReturnUrl);*/
                }
            } catch(Exception ex){
                errorm = ex.Message.ToString();
            }
        }
    }
}

<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Вход - Ceres Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Components/ui/css/bootstrap-login.min.css" rel="stylesheet" />
    <style>
        html,
        body {
            height: 100%;
            /* The html and body elements cannot have any padding or margin. */
        }

        /* Lastly, apply responsive CSS fixes as necessary */
        @@media (max-width: 767px) {
            #footer {
                margin-left: -20px;
                margin-right: -20px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        .container {
            width: auto;
            max-width: 680px;
        }

            .container .credit {
                margin: 20px 0;
            }

        .help-block {
            color: #f00;
        }

        input {
            width: 320px;
        }
    </style>
    <link href="~/Components/Control/ui/css/bootstrap-responsive.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @if (WebSecurity.IsAuthenticated)
        {
            <text>
            <div class="page-header">
                <h1>Вы уже вошли в систему</h1>

            </div>
            </text>
        }
        else
        {
            <text>
            <div class="page-header">
                <h1>Вход
                </h1>

            </div>
            @errorm
            @if (!forgeyvalid)
            {
                <text>
                Робот
            </text>
            }
            <form action="" method="post" class="form-horizontal">
                @AntiForgery.GetHtml()
                <input type="email" name="email" id="email" style="display: none;" value="" />
                <div class="control-group">
                    <label class="control-label" for="user">Имя пользователя</label>
                    <div class="controls">
                        <input type="text" name="user" id="user" autocomplete="off" value="" />
                        @if (!usernamevalid)
                        {<text><span class="help-block">Вы не ввели имя пользователя</span></text>}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">Пароль</label>
                    <div class="controls">
                        <input type="password" name="password" id="password" value="" />
                        @if (!passwordvalid)
                        {<text><span class="help-block text-error">Вы не ввели пароль</span></text>}
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn" type="submit">Войти</button>
                    </div>
                </div>
            </form>
            </text>
        }
    </div>
</body>
</html>
