@{
    var IsValid = true;
    var usernamevalid = true;
    var passwordvalid = true;
    var forgeyvalid = true;
    var errorm = "";

    if(IsPost){
        AntiForgery.Validate();
        var username = Request["user"];
        if(username.IsEmpty()){
            usernamevalid = false;
            IsValid = false;
        }

        var password = Request["password"];
        if(password.IsEmpty()){
            passwordvalid = false;
            IsValid = false;
        }

        var forgeyinput = Request["name"];
        if(!forgeyinput.IsEmpty()){
            forgeyvalid = false;
            IsValid = false;
        }

        if(IsValid){
            var db = Database.Open("Datebase");

            try{
                var data = db.QuerySingle("Select * from Account where UserName=@0 and Password=@1", username, password);
                if (data!=null)
                {
                    FormsAuthentication.RedirectFromLoginPage(username, false);
                    var ReturnUrl = Request["ReturnUrl"];
                    if(ReturnUrl.IsEmpty()){
                        ReturnUrl = "/Components/Control";
                    }
                    Response.Redirect(ReturnUrl);
                }
            } catch(Exception ex){
                errorm = ex.Message.ToString();
            }
        }
    }
}

<!DOCTYPE html>

<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <title>Вход - Ceres Project</title>
    </head>
    <body>
    @if(WebSecurity.IsAuthenticated){
        <text>
            <h1>Вы уже вошли в систему</h1>
        </text>
        }else{
        <text>
        @errorm
        @if(!forgeyvalid){
            <text>
                Робот
            </text>
        }
        <form action="" method="post">
            @AntiForgery.GetHtml()
            <table>
                <tbody>
                    <tr>
                        <td class="table-label">
                            <label for="user">Имя пользователя</label>
                        </td>
                        <td>
                            <input type="text" name="user" id="user" class="input" value=""/>
                            @if(!usernamevalid){
                                <text>
                                    Вы не ввели имя пользователя
                                </text>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="table-label">
                            <label for="password">Пароль</label>
                        </td>
                        <td>
                            <input type="password" name="password" id="password" class="input" value=""/>
                            @if(!passwordvalid){
                                <text>
                                    Вы не ввели пароль
                                </text>
                            }
                        </td>
                    </tr>
                <tr style="display: none;">
                        <td class="table-label">
                             <label for="email">Email</label>
                        </td>
                        <td>
                            <input type="email" name="email" id="email" class="input" value=""/>
                        </td>
                    </tr>
                <tr>
                        <td class="table-label">
                            <input type="submit" value="Отправить"/>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        </text>
               }
    </body>
</html>
