@{
    var IsValid = true;
    var usernamevalid = true;
    var passwordvalid = true;
    var forgeyvalid = true;
    var errorm = "";



    if (IsPost)
    {
        AntiForgery.Validate();
        var username = Request["user"];
        if (username.IsEmpty())
        {
            usernamevalid = false;
            IsValid = false;
        }

        var password = Request["password"];
        if (password.IsEmpty())
        {
            passwordvalid = false;
            IsValid = false;
        }

        var forgeyinput = Request["name"];
        if (!forgeyinput.IsEmpty())
        {
            forgeyvalid = false;
            IsValid = false;
        }

        if (IsValid)
        {
            var db = Database.Open("Datebase");

            try
            {
                var data = db.QuerySingle("Select * from Account where UserName=@0 and Password=@1", username, password);
                if (data != null)
                {
                    FormsAuthentication.RedirectFromLoginPage(username, false);
                    /*var ReturnUrl = Request["ReturnUrl"];
                    if(ReturnUrl.IsEmpty()){
                        ReturnUrl = "/Components/Control/Default";
                    }
                    Response.Redirect(ReturnUrl);*/
                }
                
                if(data == null){
                    errorm = "Неправильное имя пользователя или пароль";
                }
            }
            catch (Exception ex)
            {
                errorm += ex.Message.ToString();
            }
        }
    }
    
    
}

<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Вход - Ceres Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Components/ui/css/Account.css" rel="stylesheet" />
</head>
<body>
    <div class="b-page">
        @if (WebSecurity.IsAuthenticated)
        {
            


            <div class="b-page-header">
                <h1 class="i-page-header">Вы уже авторизованы
                </h1>
            </div>
            
        }
        else
        {

            <div class="b-page-header">
                <h1 class="i-page-header">Вход</h1>
            </div>

            <div class="b-page-main">
                <span class="i-page-error">@errorm</span>
                @if (!forgeyvalid)
                {<text><span class="i-page-error">Робот</span></text>}
                

                <form action="" method="post">
                    @AntiForgery.GetHtml()
                    <input type="Email" name="Email" class="i-form-email" id="Email" value="" />
                    <table>
                        <tr>
                            <td class="b-form-table-lable">
                                <label for="User">Имя пользователя</label>
                            </td>
                            <td class="b-form-table-input">
                                <input type="text" name="User" id="User" autocomplete="off" value="" class="i-form-input" />
                                @if (!usernamevalid)
                                {<text><span class="i-form-error">Вы не ввели имя пользователя</span></text>}
                            </td>
                        </tr>
                        <tr>
                            <td class="b-form-table-lable">
                                <label for="Password">Пароль</label>
                            </td>
                            <td class="b-form-table-input">
                                <input type="password" name="Password" id="Password" value="" class="i-form-input" />
                                @if (!passwordvalid)
                                {<text><span class="i-form-error">Вы не ввели пароль</span></text>}
                            </td>
                        </tr>
                        <tr>
                            <td class="b-form-table-lable">
                                <button type="submit">Войти</button>
                            </td>
                        </tr>
                    </table>

                </form>
            </div>
   


        }
    </div>

</body>
</html>
